<!DOCTYPE html>
<html>
    <head>
        <title>Galley Menu</title>
        
        <script src="index.js"></script>
        <link rel="icon" type="image/png" href="favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="index.css">

        <script src="//code.jquery.com/jquery-3.4.1.js"></script>
        <script src="//unpkg.com/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>
        <a href="https://github.com/ajmeese7/galley-calls">
            <img src="menu.png" id="banner" alt="Menu" />
        </a>

        <!-- TODO: Have daily recording if available, and if not have a 'Make call' button
            that runs make_call.js -->

        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </div>
    </body>
</html>
