/* Everything that needs to be centered */
body,
button,
img {
    margin: auto;
    display: table !important;
}

body {
    max-width: 1000px;
}

:focus {
    outline: 0px;
}

#banner, #result {
    max-width: 80%;
    margin-top: 25px;
}
@media screen and (max-width: 1000px) {
    #banner, #result {
        max-width: 95%;
    }
}

figcaption {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px;
}
#audio {
    display: none;
    margin: auto;
}
#noAudio {
    text-align: center;
    margin-top: 50px;
}